* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #fbfbfb;
}

.container {
  border: 1px solid transparent;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  display: block;
  margin: 10px auto;
}
.header-flex {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-weight: 900;
  font-size: 40px;
}

.icon {
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 10px;
  left: 40px;
}

.city-name {
  color: #000000;
  position: relative;
  right: 20px;
}

.current-temperature {
  position: relative;
  bottom: 110px;
  right: 10px;
}
.units {
  position: relative;
  bottom: 125px;
  right: 5px;
  font-size: 20px;
}
.flex-container {
  display: flex;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  bottom: 50px;
}

.item {
  width: 250px;
  height: 70px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: radial-gradient(
    590px at 8.2% 13.8%,
    rgb(18, 35, 60) 0%,
    rgb(187, 187, 187) 90%
  );
  margin: 10px auto;
  padding: 5px;
  color: #fbfbfb;
  text-align: center;
  display: block;
  font-size: 14px;
  justify-content: center;
  position: relative;
  bottom: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  line-height: 20px;
}

.footer {
  font-size: 10px;
  text-align: center;
}
a {
  color: #1d5d9b;
}

.form {
  text-align: center;
}
.input-text {
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #182941;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.input-submit {
  width: 60px;
  height: 30px;
  border-radius: 10px;
  margin: 10px auto;
  border: 0.5px solid #182941;
  background: radial-gradient(
    590px at 8.2% 13.8%,
    rgb(18, 35, 60) 0%,
    rgb(187, 187, 187) 90%
  );
  color: white;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.input-submit:hover {
  transition: solid 150ms ease-in-out;
  color: #fbfbfb;
  background: #1d5d9b;
}

.forecast {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin: 10px auto;
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  color: #182941;
  font-weight: 900;
}

.forecast-temperatures {
  font-size: 14px;
}

.forecast-temperatures-max {
  color: #000000;
  font-weight: 800;
  opacity: 0.9;
  padding-right: 5px;
}

.forecast-temperatures-min {
  color: #000000;
  font-weight: 500;
  padding-left: 5px;
}

.forecast-icon {
  width: 46px;
  height: 46px;
  display: block;
  margin: 0 auto;
}
